wheel
numpy
plotly
jupyterlab
scikit-build-core
setuptools_scm
pyproject_metadata
pathspec
hatchling
argcomplete
cpplint
clang-format
black
isort
flake8
mypy
pytest
nox
pipx
ninja
watchdog
ipython
--find-links https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
